In [ ]:
part one
- Data types
- Variables
- Lists and arrays
- Indexing and slicing 
- Conditionals
- Strings and array methods
- loops (Forloops and while Loops)
- functions
- Dictionaries
- classes and objects

In [ ]:
Part two
- Pandas and numpys
- time, date and math libraries
- visualization (seaborns and matplotlib)

In [ ]:
Part three (python for data science):
    - Data loading
    - Data cleaning and data wrangling
    - Answering buisness intelligence questions with python
    - correlation analysis univariate and bi-variate analysis
    - feature engineering 
    - introduction to predictive modelling (Linear and ploymial regression, logistictic regression and Time series)
    - machine learning concepts (supervised and unsupervised learning)

In [ ]:
part four (frameworks and apis):
- python flask
- rest and fast api
- integrating postgresql (sql automation) in python
- extraction transformation and loading (ETL processes with python)

In [ ]:
job description after the learning 
- Data scientist, analyst, 
- backend engineer,
- analytics engineer,
- buisness intelligence engineer,
- data engineer and machine learning engineer

# Lets code

In [ ]:
-strings, numeric data and type (integers, floats), booleans (True/False)

In [1]:
print ("hello class!")

hello class

In [4]:
print (type("Hello class!"))

<class 'str'>

In [5]:
print("my name is jake and i am 5 years old!")

my name is jake and i am 5 years old!

In [6]:
print("10" + "5")

105

In [7]:
print (10.9 + 3)

13.9

In [8]:
print (5==5)

True

In [9]:
print (10==(2*5))

True

In [10]:
print (type("true"))

<class 'str'>

In [12]:
print (type(True))

<class 'bool'>

In [13]:
print (type(10.01))

<class 'float'>

In [14]:
name = input ("enter name:")
age = input("enter age:")
print (f"My name is,{name} and i am {age} years old!")

enter name:john
enter age:19
My name is,john and i am 19 years old!

In [20]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [21]:
print(4**(1/3))

1.5874010519681994

In [22]:
name = input("enter name:  ")
yb = float(input("enter year of birth: "))
print (f"my name is {name} and i am {2023-yb} years old")

enter name:  john
enter year of birth: 1997
my name is john and i am 26.0 years old

# Conditionals

In [7]:
temp = float(input("enter temperature value: "))

if temp > 20:
    print("temperature is high")
elif temp >=10 and temp <=19:
    print("temperature is moderate")
elif temp >=1 and temp <=9:
    print("temperature is quite low")
elif temp <= 0:
    print("extremely deadly temperature")
else:
    print("input not understood")

enter temperature value: 10
temperature is moderate

In [4]:
age = int (input("enter age: "))
sex = input("enter sex: ").lower()

if age >= 20:
    if sex == "f":
        print("an adult female")
    elif sex == "m":
        print("an adult male")
        
elif age >= 13 and age <=19:
    if sex == "f":
        print ("a teenage female")
    elif sex == "m":
        print("a teenage male")
        
elif age <= 12:
    if sex == "f":
        print("a child female")
    elif sex == "m":
        print("a child male")
        
else:
    print ("No input available")

enter age: 31
enter sex: F
an adult female

# Temperature Conversion Program

In [13]:
temp_value = float(input("enter temperature value here: "))
unit = input("enter unit->f/c: ").lower()

if unit == "f":
    temp = (temp_value - 32) * (5/9)
    if temp <= 100:
        kel = 273 + temp
        print(f"the temperature value of {temp_value} fahrenhiet is {round(kel, 3)} kelvin")
    else:
        print(f"the temperature value of {temp_value} fehrenhiet is {round(temp, 3)} celcius")
            
elif unit == "c":
    temp = (temp_value * (9/5)) + 32
    print(f"the temperature value of {temp_value} celcius is {round(temp, 3)} fahrenheit")
else:
    print("input not understood")

enter temperature value here: 47
enter unit->f/c: c
the temperature value of 47.0 celcius is 116.6 fahrenheit

# Assignment_1

In [ ]:
###BMI --> BODY MASS INDEX
###Range of value that constitutes high, low and average

In [3]:
height = float(input("Enter your height in cm: "))
weight = float(input("Enter your weight in kg: "))

BMI = weight / (height/100)**2
print(f"You BMI is {BMI}")

if BMI <= 18.4:
    print("You are underweight or low.")
elif BMI <= 24.9:
    print("You are healthy average.")
elif BMI <= 29.9: 
    print("You are over weight or high.")
elif BMI <= 34.9:
    print("You are severely over weight.")
elif BMI <= 39.9:
    print("You are obese.")
else:
    print("You are severely obese.")

Enter your height in cm: 200
Enter your weight in kg: 50
You BMI is 12.5
You are underweight or low.

# Assignment Correction

In [6]:
weight = float(input("enter weight value: "))
height = float(input("enter height value: "))
unit_weight = input("enter unit for weight: ") .lower()
unit_height = input("enter unit for height: ") .lower()
bmi = (weight/10)/(height**2)

if unit_weight == "n" and unit_height == "m":
    if bmi >=25:
        print(f"my bmi is {bmi} and it is high!")
    elif bmi >=18 and bmi <=24.9:
        print(f"my bmis is {bmi} and it is average")
    else:
        print(f" this is my bmi value = {bmi} and it is low")
            
else:
    print("unit not defined in the program!")
    
# if unit weight == "p" and unit_height == "fit":
#     if bmi >=29:
#         print("your bmi is high")
#     elif bmi >=15 and bmi<= 28:
#         print("your bmi is average")
#    else:
#        print(f"this is my bmi value = {bmi} and it is low")

enter weight value: 45
enter height value: 65
enter unit for weight: n
enter unit for height: m
 this is my bmi value = 0.0010650887573964497 and it is low

# ASSIGNMENT 2

In [ ]:
1. if the age to vote is from 18 and above
2. and the condition to vote require a pvc
write a program that ask users for their age and if they have pvc. if they do, grant them access to vote., if they don't do not do not grant them access to vote
question 2.
if the person is qualified to vote
if the person is from south, east they should vote obi, if the person is from north, south west vote asiwaju vote atiku

In [4]:
age = int(input("enter age: "))
pvc = input("do you have a pvc?: ")
voter = input("where is voter from?: ")

if age >= 18 and pvc == "yes":
    if voter == "south-south" or voter == "east":
        print("vote obi")
    elif voter == "north" or  voter == "south-west":
        print("vote asiwaju!!!")
    else:
        print("vote atiku")
        
elif ange < 18 and pvc == "no":
    print("access denied to vote")
else:
    print("access denied to vote!!!")

enter age: 22
do you have a pvc?: yes
where is voter from?: south-west
vote asiwaju!!!

# Class work 01/02/2023

In [ ]:
- if change in temperature of a house defines the "livability" of a house
define t1 as input
define t2 as input
calculate the temperature change

- if the temp is less than 0 celcius 
add temperature +273
if temperature is greater than 500 kelvin say temperature is extremely low
if temperature is less than 500 kelvin say temperature is moderately low


- if the temp is greater than 0 celcius, say temperature too high

In [10]:
t1 = float(input("enter t1: "))
t2 = float (input("enter t2: "))
temp = t2-t1


if temp < 0:
    kelvin = temp +273
    if kelvin > 500:
        print(f"{kelvin}kelvin: temperature is extremely low")
    elif kelvin < 500:
        print(f"{kelvin}kelvin: temperature is moderrately low")
    
        
elif temp > 0:
    print(f"{temp}celcius: temperature is too high")
    
else:
    print("inputs not understood!!!")

enter t1: 14
enter t2: 25
11.0celcius: temperature is too high

# List and Arrays

In [ ]:
##Arrays Method
-sort()
-print()

In [13]:
a = [1, 5, 10, 3]
a.sort()
print(a)

[1, 3, 5, 10]

In [18]:
b = [6, 9, 10, 11]

In [25]:
c = a + b
print(c)

[1, 3, 5, 10, 6, 9, 10, 11]

In [26]:
c.append(True)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True]

In [28]:
k = [5, 10, 11]
c.append(k)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True, [5, 10, 11], [5, 10, 11]]

# #Forloops

In [29]:
arr = [2, 4, 7, 9, 3, 1]
for i in arr:
    print(i)

2
4
7
9
3
1

In [30]:
for i in arr: 
    if i%2 != 0:
        print(i)

7
9
3
1

In [34]:
arr1 = []
arr2 = []
for i in arr:
    if i%2 != 0:
        arr1.append(i)
    if i%2 == 0:
        arr2.append(i)
print(arr2)

[2, 4]

In [7]:
a = [True, False, 10, 15.5, 21, "jannet", "tobi", 9, True]

for i in a:
    if type (i) == float:
        print(i)

15.5

In [8]:
p = []
for i in a:
    if type (i) == bool:
        p.append(i)
        
print(p)

[True, False, True]

In [9]:
print(i)

True

In [10]:
p = []
for i in a:
    if type(i) ==bool:
        p.append(i)

print(p)

[True, False, True]

In [15]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i < 10:
        arr.append(i)
        
print(arr)

[8, 5, 7, 3]

In [16]:
##find odd and even numbers

odd_numb = []
even_numb = []

for i in numb:
    if i%2 == 0:
        even_numb.append(i)
    elif i%2 != 0:
        odd_numb.append(i)

print(odd_numb)
print(even_numb)

[11, 5, 7, 3]
[10, 16, 8, 12, 20]

In [ ]:
## how to use arrYs

In [19]:
arrYs = [10, 20, 11, 8, 10, 6, 1]
print(arrYs)

[10, 20, 11, 8, 10, 6, 1]

In [22]:
for i in arrYs:
    if i == 10:
        print(i)

10
10

In [23]:
for i in enumerate(arrYs):
    print(i)

(0, 10)
(1, 20)
(2, 11)
(3, 8)
(4, 10)
(5, 6)
(6, 1)

In [27]:
for i, b in enumerate(arrYs):
    print(i, b)

0 10
1 20
2 11
3 8
4 10
5 6
6 1

In [28]:
for i, b in enumerate(arrYs):
    if b == 10:
        print(i)

0
4

In [29]:
for i in arrYs:
    if i == 10:
        print(arrYs. index(i))

0
0

In [30]:
###test
z = [10, 10, 11, 2]
z.index(10)

0

In [34]:
z = [13, 46, 56, 8, 10, 10]
for i in z:
    if i == 10:
        print(z.index(i))

4
4

In [36]:
z = [10, 10, 11, 2]
for i in z:
    if i == 10:
        print(z.index(i))

0
0

In [37]:
for i, b in enumerate(z):
    if b == 10:
        print(i)

0
1

In [38]:
k = [5, 1, 5, 10, 11, 9, 5, 1]
index_values = []
for i, b in enumerate(k):
    if b == 5:
        index_values.append(i)
print(index_values)

[0, 2, 6]

In [39]:
index_values[2]

6

In [40]:
k[index_values[1]+1:index_values[2]]

[10, 11, 9]

In [41]:
#print(k[])

In [ ]:
###assignment 1.
1. list = [11, 10, 8, 12, 1, 5, 6, 8, 10, 1, 8, 22, 7, 4]
get the index values of 8
2. get all the values after the second index value of 8

In [ ]:
###assignment 2.
Get all the food that starts with a and store inside an array
foods = ["apple", "guava", "garri", "beans", "beans,", "accara", "acute-bons"]