In [ ]:
part one
- Data types
- Variables
- Lists and arrays
- Indexing and slicing 
- Conditionals
- Strings and array methods
- loops (Forloops and while Loops)
- functions
- Dictionaries
- classes and objects

In [ ]:
Part two
- Pandas and numpys
- time, date and math libraries
- visualization (seaborns and matplotlib)

In [ ]:
Part three (python for data science):
    - Data loading
    - Data cleaning and data wrangling
    - Answering buisness intelligence questions with python
    - correlation analysis univariate and bi-variate analysis
    - feature engineering 
    - introduction to predictive modelling (Linear and ploymial regression, logistictic regression and Time series)
    - machine learning concepts (supervised and unsupervised learning)

In [ ]:
part four (frameworks and apis):
- python flask
- rest and fast api
- integrating postgresql (sql automation) in python
- extraction transformation and loading (ETL processes with python)

In [ ]:
job description after the learning 
- Data scientist, analyst, 
- backend engineer,
- analytics engineer,
- buisness intelligence engineer,
- data engineer and machine learning engineer

# Lets code

In [ ]:
-strings, numeric data and type (integers, floats), booleans (True/False)

In [1]:
print ("hello class!")

hello class

In [4]:
print (type("Hello class!"))

<class 'str'>

In [5]:
print("my name is jake and i am 5 years old!")

my name is jake and i am 5 years old!

In [6]:
print("10" + "5")

105

In [7]:
print (10.9 + 3)

13.9

In [8]:
print (5==5)

True

In [9]:
print (10==(2*5))

True

In [10]:
print (type("true"))

<class 'str'>

In [12]:
print (type(True))

<class 'bool'>

In [13]:
print (type(10.01))

<class 'float'>

In [14]:
name = input ("enter name:")
age = input("enter age:")
print (f"My name is,{name} and i am {age} years old!")

enter name:john
enter age:19
My name is,john and i am 19 years old!

In [20]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [21]:
print(4**(1/3))

1.5874010519681994

In [22]:
name = input("enter name:  ")
yb = float(input("enter year of birth: "))
print (f"my name is {name} and i am {2023-yb} years old")

enter name:  john
enter year of birth: 1997
my name is john and i am 26.0 years old

# Conditionals

In [7]:
temp = float(input("enter temperature value: "))

if temp > 20:
    print("temperature is high")
elif temp >=10 and temp <=19:
    print("temperature is moderate")
elif temp >=1 and temp <=9:
    print("temperature is quite low")
elif temp <= 0:
    print("extremely deadly temperature")
else:
    print("input not understood")

enter temperature value: 10
temperature is moderate

In [4]:
age = int (input("enter age: "))
sex = input("enter sex: ").lower()

if age >= 20:
    if sex == "f":
        print("an adult female")
    elif sex == "m":
        print("an adult male")
        
elif age >= 13 and age <=19:
    if sex == "f":
        print ("a teenage female")
    elif sex == "m":
        print("a teenage male")
        
elif age <= 12:
    if sex == "f":
        print("a child female")
    elif sex == "m":
        print("a child male")
        
else:
    print ("No input available")

enter age: 31
enter sex: F
an adult female

# Temperature Conversion Program

In [13]:
temp_value = float(input("enter temperature value here: "))
unit = input("enter unit->f/c: ").lower()

if unit == "f":
    temp = (temp_value - 32) * (5/9)
    if temp <= 100:
        kel = 273 + temp
        print(f"the temperature value of {temp_value} fahrenhiet is {round(kel, 3)} kelvin")
    else:
        print(f"the temperature value of {temp_value} fehrenhiet is {round(temp, 3)} celcius")
            
elif unit == "c":
    temp = (temp_value * (9/5)) + 32
    print(f"the temperature value of {temp_value} celcius is {round(temp, 3)} fahrenheit")
else:
    print("input not understood")

enter temperature value here: 47
enter unit->f/c: c
the temperature value of 47.0 celcius is 116.6 fahrenheit

# Assignment_1

In [ ]:
###BMI --> BODY MASS INDEX
###Range of value that constitutes high, low and average

In [3]:
height = float(input("Enter your height in cm: "))
weight = float(input("Enter your weight in kg: "))

BMI = weight / (height/100)**2
print(f"You BMI is {BMI}")

if BMI <= 18.4:
    print("You are underweight or low.")
elif BMI <= 24.9:
    print("You are healthy average.")
elif BMI <= 29.9: 
    print("You are over weight or high.")
elif BMI <= 34.9:
    print("You are severely over weight.")
elif BMI <= 39.9:
    print("You are obese.")
else:
    print("You are severely obese.")

Enter your height in cm: 200
Enter your weight in kg: 50
You BMI is 12.5
You are underweight or low.