In [ ]:
part one
- Data types
- Variables
- Lists and arrays
- Indexing and slicing 
- Conditionals
- Strings and array methods
- loops (Forloops and while Loops)
- functions
- Dictionaries
- classes and objects

In [ ]:
Part two
- Pandas and numpys
- time, date and math libraries
- visualization (seaborns and matplotlib)

In [ ]:
Part three (python for data science):
    - Data loading
    - Data cleaning and data wrangling
    - Answering buisness intelligence questions with python
    - correlation analysis univariate and bi-variate analysis
    - feature engineering 
    - introduction to predictive modelling (Linear and ploymial regression, logistictic regression and Time series)
    - machine learning concepts (supervised and unsupervised learning)

In [ ]:
part four (frameworks and apis):
- python flask
- rest and fast api
- integrating postgresql (sql automation) in python
- extraction transformation and loading (ETL processes with python)

In [ ]:
job description after the learning 
- Data scientist, analyst, 
- backend engineer,
- analytics engineer,
- buisness intelligence engineer,
- data engineer and machine learning engineer

# Lets code

In [ ]:
-strings, numeric data and type (integers, floats), booleans (True/False)

In [1]:
print ("hello class!")

hello class

In [4]:
print (type("Hello class!"))

<class 'str'>

In [5]:
print("my name is jake and i am 5 years old!")

my name is jake and i am 5 years old!

In [6]:
print("10" + "5")

105

In [7]:
print (10.9 + 3)

13.9

In [8]:
print (5==5)

True

In [9]:
print (10==(2*5))

True

In [10]:
print (type("true"))

<class 'str'>

In [12]:
print (type(True))

<class 'bool'>

In [13]:
print (type(10.01))

<class 'float'>

In [14]:
name = input ("enter name:")
age = input("enter age:")
print (f"My name is,{name} and i am {age} years old!")

enter name:john
enter age:19
My name is,john and i am 19 years old!

In [20]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [21]:
print(4**(1/3))

1.5874010519681994

In [22]:
name = input("enter name:  ")
yb = float(input("enter year of birth: "))
print (f"my name is {name} and i am {2023-yb} years old")

enter name:  john
enter year of birth: 1997
my name is john and i am 26.0 years old